body {
  text-align: center;
  background-color: #da7b93;
}

h1 {
  font-family: "Galada", cursive;
  font-size: 70px;
  margin: 0.2em;
  color: #d1e8e2;
  background-color: #2f4454;
}

h2 {
  margin: 1em 0 0.25em;
  color: #1c3334;
  font-family: "Bree Serif", serif;
  font-size: 30px;
}

h2:first-of-type {
  margin-top: 0.5em;
}


table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type="number"] {
  width: 6em;
}

p{
  font-size:25px;